
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Base Styling -------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: "Montserrat", sans-serif;

}

/* Section Styling -------------------- */

.main-header {
    height: 775px;
    background:linear-gradient(to bottom, rgba(255,0,0,0), rgb(255, 255, 255, 0.7)),
    url("../images/cortolima-bg1.jpg") no-repeat center;
    background-size: cover;
}

.title {
    text-align: center;
    padding-top: 110px;
    font-size: 1.625em;
    color: #edf0f1;
    text-shadow: 4px 4px 6px #000000;
}


.navbar {
    font-size: 18px;
}

.main-nav {
    list-style-type: none;
    display: none;

}

.main-nav a:hover {
    color: #228B22; 
}

.nav-links,
.logo {
    text-decoration: none;
    color: #edf0f1;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

/* Next 5 sections are all styling the 3 tiles for Food, Drinks, Contact Us */

.tile-1,
.tile-2,
.tile-3 {
    margin: 30px;
    padding: 40px 40px 20px;
    max-width: 500px;
    text-align: center;
    border-bottom: 4px solid #000000 ;
    border-radius: 50px 50px;
}

.tile-1:hover,
.tile-2:hover,
.tile-3:hover {
    border-color: #228B22;
    cursor: pointer;
}

.tile-1 {
    background-image: url(../images/cortolima-food.jpg);
    background-size: cover;
    box-shadow: 4px 4px 6px #000000;
}

.tile-2 {
    background-image: url(../images/cortolima-drinks.jpg);
    background-size: cover;
    box-shadow: 4px 4px 6px #000000;
}

.tile-3 {
    background-image: url(../images/cortolima-contactus.jpg);
    background-size: cover;
    box-shadow: 4px 4px 6px #000000;
}

/* Link Styling -------------------- */

button {
    padding: 10px 15px;
    background-color: rgba(34,139,34, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(34,139,34, 0.8);
}

button {
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
 } /* Add the Montserrat font to the li, a, button features */

 h2 {
     text-transform: uppercase;
     color: #edf0f1;
     text-shadow: 6px 6px 6px #000000;
     font-size: 2.3em;
 }

.clearfix {
    clear: both;
}

/* Media Queries -------------------- */

/* Styles for larger screens */
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 20px;
        height: 70px;
        align-items: center;
    }

    .flex {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 1700px;
    }

    .tile-1,
    .tile-2,
    .tile-3 {
        width: 1700px;
        height: 400px;
        text-align: center;
    }

    h2 {
        padding-top: 30%;
    }

    .main-nav {
        display: flex;
        margin-right: 20px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
    
}

/* Styles for smaller screens */
@media screen and (max-width: 768px) {
   
    
}