
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Base Styling -------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #A9A9A9;
}

/* Section Styling -------------------- */

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.topnav-links {
    list-style: none;
}

.topnav-links li {
    display: inline-block;
    padding: 0 20px;
}

.topnav-links li a {
    transition: all 0.3s ease 0s;
}

.topnav-links li a:hover {
    color: #228B22;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(34,139,34, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(34,139,34, 0.8);
}
/* Link Styling -------------------- */



/* Media Queries -------------------- */